<footer class="my-16 prose prose-invert">
    <p class="text-zinc-500"><%= new Date().getFullYear() %> &copy; vista1nik &bull; <a href="https://github.com/vista1nik/vista1nik.com">source</a></p>
</footer>