<header class="my-16 flex gap-3 items-center select-none">
    <a draggable="false" class="text-white text-lg -ml-2 py-1 px-2 rounded transition hover:bg-zinc-800" href="/">vista1nik</a>
    <% if (breadcrumb) { %>
        <p draggable="false" class="text-zinc-600">/</p>
        <a draggable="false" class="text-white text-lg py-1 px-2 rounded transition hover:bg-zinc-800" href="#"><%- breadcrumb %></a>
    <% } %>
</header>